.app__createMeal {
  padding-top: 100px;
  padding-left: 140px;
  padding-right: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app__createMeal-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}

.app__createMeal-left {
  display: flex;
  margin-right: 55px;
}

.app__createMeal-left_loadPhoto {
  display: flex;
  width: 350px;
  height: 350px;
  background: #222222;
  border-bottom: 2px solid rgba(255, 199, 0, 0.6);
  filter: blur(0.5px);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.app__createMeal-left_loadPhoto p {
  font-family: var(--font-swap);
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffc700;
}

.app__createMeal-right {
  display: flex;
  flex-direction: column;
  max-width: 590px;
  width: 100%;
}

.app__createMeal-right_firstRow {
  display: flex;
  justify-content: space-between;
}

.app__createMeal-right_topRow-leftCol {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app__createMeal-right_topRow-leftCol p,
.app__createMeal-right_topRow-rightCol p,
.app__createMeal-right_secondRow p,
.app__createMeal-right_thirdRow p {
  font-family: var(--font-swap);
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #f3f3f3;
}

.app__createMeal-right_topRow-leftCol form {
  background: #353535;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  max-width: 275px;
  width: 100%;
  border-style: none;
  padding: 10px 20px;
}

.app__createMeal-right_topRow-leftCol form input[type="text"] {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  flex-grow: 1;
  width: 100%;
}

.app__createMeal-right_topRow-leftCol form input[type="text"]:focus {
  border: none;
  outline: none;
}

.app__createMeal-right_topRow-rightCol {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}

.app__createMeal-right_topRow-rightCol_checkBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 5px;
}

.app__createMeal-right_topRow-rightCol_checkBox button {
  background: #353535;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  height: 16px;
  max-width: 82px;
  width: 100%;
}

.app__createMeal-right_secondRow {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.app__createMeal-right_secondRow textarea {
  background: #353535;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  max-width: 590px;
  width: 100%;
  height: 170px;
  resize: none;
  padding: 10px 20px;
  color: #f3f3f3;
  font-size: 16px;
  flex-grow: 1;
}

.app__createMeal-right_secondRow textarea::-webkit-scrollbar {
  width: 10px;
  background-color: #181818;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.app__createMeal-right_secondRow textarea::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #353535;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.app__createMeal-right_secondRow textarea:focus {
  border: none;
  outline: none;
}

.app__createMeal-right_thirdRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.app__createMeal-right_thirdRow-firstRow,
.app__createMeal-right_thirdRow-secondRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
}

.app__createMeal-right_thirdRow-secondRow {
  margin-top: 10px;
}

.app__createMeal-right_thirdRow-firstRow form,
.app__createMeal-right_thirdRow-secondRow form {
  background: #353535;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  width: 100%;
  border-style: none;
  padding: 10px 20px;
  margin-top: 10px;
}

.app__createMeal-right_thirdRow-firstRow form:nth-child(1),
.app__createMeal-right_thirdRow-secondRow form:nth-child(1) {
  max-width: 447px;
}

.app__createMeal-right_thirdRow-firstRow form:nth-child(2),
.app__createMeal-right_thirdRow-secondRow form:nth-child(2) {
  max-width: 93px;
}

.app__createMeal-right_thirdRow-firstRow form input[type="text"],
.app__createMeal-right_thirdRow-secondRow form input[type="text"] {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  flex-grow: 1;
  width: 100%;
}

.app__createMeal-right_thirdRow-firstRow form input[type="text"]:focus,
.app__createMeal-right_thirdRow-secondRow form input[type="text"]:focus {
  border: none;
  outline: none;
}

.app__createMeal-right_thirdRow-firstRow img,
.app__createMeal-right_thirdRow-secondRow img {
  width: 16.67px;
  height: 16.67px;
  cursor: pointer;
  margin-top: 5px;
}

.app__createMeal-right_thirdRow-secondRow img {
  width: 20.67px;
  height: 20.67px;
  cursor: pointer;
  margin-top: 5px;
}

.app__createMeal-right_thirdRow-thirdRow {
  display: flex;
  margin-top: 10px;
}

.app__createMeal-right_thirdRow-thirdRow button {
  width: 100%;
  max-width: 570px;
  background: #ffc700;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  height: 40px;

  font-family: var(--font-swap);
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #181818;
  cursor: pointer;
}

.app__createMeal-right_thirdRow-thirdRow button:hover {
  background: #f3f3f3;
}

@media screen and (max-width: 1150px) {
  .app__createMeal-wrapper {
    flex-direction: column;
  }
  .app__createMeal-right {
    margin-top: 1rem;
  }
  .app__createMeal {
    padding-left: 40px;
    padding-right: 20px;
  }
  .app__createMeal-left {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .app__createMeal-left_loadPhoto {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .app__createMeal-left_loadPhoto {
    width: 200px;
    height: 200px;
  }
}
